<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shabdamsdk">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.activity.ShabdamPaheliActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.ShabdamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShabdamBlankActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.StatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShabdamLeaderBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShabdamSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShabdamSplashActivity"
            android:exported="true" />

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3793720534573472~6701601535" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shabdamsdk.LeaderBoardActivity.provider;com.shabdamsdk.ShabdamActivity.provider;com.shabdamsdk.GameActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-K76-65Z-R56Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-156-6a3" />
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />

    </application>

</manifest>